* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Work Sans', sans-serif;
}
/* **************Headar Style Starts************** */

header {
	background-image: url(images/banner3.png);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 808px;
}

.headar-title {
	font-family: 'Work Sans';
	font-weight: 700;
	font-size: 65px;
	line-height: 76px;
	text-align: right;
	color: #FFFFFF;
	margin-bottom: 24px;
	padding-right: 230px;
	padding-top: 216px;
}
.headar-instraction {
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
	text-align: right;
	color: #FFFFFF;
	margin-bottom: 32px;
	padding-right: 230px;
}
.hedar-btn {
	width: 160px;
	height: 64px;
	background: #FFFFFF;
	border-radius: 5px;
	float: right;
	border: none;
	margin-right: 230px;
	color: #005FAC;
	font-weight: 600;
	font-size: 20px;
}
/* ***********Hedar style End********** */

/* *.my-failures section style starts****/

.my-failures {
	display: flex;
	align-items: center;
	gap: 87px;
	padding-left: 206px;
	padding-top: 131px;
}
.my-failures-point {
	padding-top: 240px;
}
.my-failures-title {
	font-weight: 700;
	font-size: 40px;
	margin-bottom: 24px;
}
#my-failures-rejon {
	font-weight: 400;
	font-size: 16px;
}
.my-failures-point p {
	margin-bottom: 8px;
}
.icons {
	color: #16D887;
	width: 24px;
	height: 24px;
	margin-right: 10px;
}
/* *.my-failures section style Ends****/

/* *****My-plans section style start***** */

.my-plans {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 130px;
}
.learning-shedeul {
	display: flex;
	gap: 80px;
	margin-top: 50px;
}
.learn-equipment {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.learn-equipment h1 {
	text-align: center;
	font-weight: 700;
	font-size: 30px;
	line-height: 35px;
	margin-bottom: 16px;
}
.learn-equipment p {
	text-align: center;
	font-weight: 500;
	font-size: 25px;
	line-height: 29px;
	color: #737272;
}
.mindset {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 1140px;
	height: 300px;
	background: linear-gradient(90deg, #005FAC 0%, rgba(0, 95, 172, 0) 100%), url(images/watch.png);
	padding-top: 59px;
	padding-left: 64px;
	border-radius: 8px;
	margin-top: 130px;
	margin-bottom: 130px;
}
.mindset h1 {
	font-weight: 700;
	font-size: 40px;
	line-height: 47px;
	color: #FFFFFF;
	margin-bottom: 24px;
}
.mindset button {
	width: 160px;
	height: 64px;
	font-weight: 600;
	font-size: 20px;
	color: #005FAC;
	border: none;
	border-radius: 5px;
}
/* *****My-plans section style ends***** */

/* footer style starts */

footer {
	display: flex;
	background-color: black;
	justify-content: center;
	gap: 150px;
	padding-top: 65px;
	padding-bottom: 65px;
}
.futuer-instraction {}
.futuer-instraction h1 {
	font-weight: 700;
	font-size: 45px;
	line-height: 53px;
	color: #F8F8F8;
	margin-bottom: 16px;
}
.futuer-instraction p {
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
	color: #FFFFFF;
	margin-bottom: 20px;
}
.icons-box img {
	margin-left: 0px;
	margin-right: 16px;
}
.input-box {}
.input-box h1 {
	font-weight: 600;
	font-size: 25px;
	color: #FFFFFF;
	margin-bottom: 24px;
}
.input-box button {
	width: 170.11px;
	height: 64px;
	background-color: #0885ec;
	color: white;
	font-weight: 600;
	font-size: 20px;
	border-radius: 8px;
}
.input-email {
	width: 325px;
	height: 64px;
	background-color: black;
	border: 2px solid #FFFFFF;
	border-radius: 8px;
	margin-bottom: 16px;
}